*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f9fa ;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    height: 500px;
    width: 300px;
    border: solid 3px rgba(0, 0, 0, 0.159);
}

.comecar{
    background-color: #cfe2ff;
}

.andamento{
    background-color: #fff3cd;
}

.concluido{
    background-color: #d1e7dd;
}

h2{
    color: #343a40;
}

.conteudo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 70%;
    max-width: 90%;
    overflow-y: auto;

}

.cursos{
    background-color: rgb(182, 182, 182);
    padding: 0.7rem;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    border: 3px solid grey;

}

.cursos:hover{
    background-color: rgb(159, 159, 159);
}

.botoes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button{
    cursor: pointer;
    background-color: #0d6efd;
    color: white;
    padding: 0.7rem;
    border-radius: 0.6rem;
}

.btnVolta{
    background-color: #6c757d;
}

.selecionado{
    background-color: rgb(101, 101, 101);
    border: 3px solid rgb(54, 54, 54);
    box-shadow: 2px 2px 2px rgb(73, 73, 73);

}

::placeholder{
    text-align: center;
}

.btnApagar{
    background-color:#dc3545;
    height: 60%;
}